:root {
  --transition-speed: 0.9s;
}

body {
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff;
}

body.dark-mode .card {
  background-color: #1e1e1e !important;
  color: #fff;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

body.dark-mode .input-group-text {
  background-color: #2a2a2a !important;
  color: #fff;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

.card,
.input-group-text {
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

.dark-toggle {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 999;
}
